{% block bottom %}

<script type="text/javascript">
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>


<script type="text/javascript">


</script>

<div class="container">
  <div class="row">
    {% for photo in photos %}
    <div class="card-group col-3">
      <div class="card" style="width: 20rem;">
        <a href="{% url 'photosend:photo_detail' photo.id%}"><img src="{{ photo.photo.url }}" class="card-img-top" alt="..." width="300" height="300"></a>
        <div class="card-body">
          <h5 class="card-title">{{photo.title}}</h5>
          <p class="card-text">ひとこと：{{photo.content}}</p>
          <p class="card-text"><small class="text-muted" >ユーザ名：{{photo.user.username}}</small></p>
          <p class="card-text"><small class="text-muted">{{photo.created_at}}</small></p>
          {% if user.is_authenticated and request.user.id == photo.user.id%}
          <p class="card-text"><a href="{% url 'photosend:edit' photo.pk %}"><small class="text-muted">編集</small></a></p>
          <p class="card-text"><a href="{% url 'photosend:delete' photo.pk%}"><small class="text-muted">削除</small></a></p>
          {% endif %}
          <div id="btn2" class="btn3" data-id={{photo.id}}>
            <button class="btn btn-primary" type="submit"  >いいね</button> 
            <p class="number">{{photo.like_num}}</p>
          </div>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


<script type="text/javascript">

$(function(){
  $('.btn3').on('click',function(e){
    e.preventDefault();
    const a=$(this).children('.number');

    var eventLastChild = event.target.lastChild;

    photoid = $(this).data('id')
    url='{% url "photosend:like"%}'

    $.ajax({
      url:url,
      type: 'POST',
      data: {
        'photo_id': photoid,
      },
      dataType: 'json'
    })

    .done(function(d){
      a.text(d.num);
      alert('いいねを押しました');
      $('.btn3').attr('disabled', false);
      })
    .fail(function(){
      alert('エラー');
      $('.btn3').attr('disabled', false);
      });
  });
});
</script>

{% endblock %}