{% extends 'photosend/base.html' %}

<!DOCTYPE html>
<html>


<body>

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
    <li class="breadcrumb-item active" aria-current="page">マイページ</li>
  </ol>
</nav>

<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1"><small class="text-muted">{{request.user.username}}さんのマイページ</small></span>
</nav>

  <br>

{% endblock %}
</body>
</html>